# Table Examples

**Note:** This notebook is set up to give you practice with the material we've covered so far this semester.  The solutions to the questions posed on this page are visible if you show the hidden cells, but we encourage you to try to solve them on your own.  You may do so on paper or by opening this [notebook](https://jupyter.cs.williams.edu/hub/user-redirect/git-pull?repo=https%3A//github.com/cs104williams/cs104-public-f24&urlpath=lab/tree/cs104-public-f24/lectures/13-table-examples.ipynb&branch=main).  It has blank cells for you to write the solutions to each question from scratch.

In [ ]:
from datascience import *
from cs104 import *
import numpy as np
%matplotlib inline

## 1. Group and Pivot Practice

**Question.** Write a function `volume` that takes the radii for some spheres as an array and returns the sum of the volumes of those spheres.  Test your solution with several `check` operations.

Recall that the volume of a sphere with radius $r$ is: $ \frac{4}{3} \pi r^3 $.  Thus, the volume for a sphere with radius 1 is approximately `4.1888`, and the volume when the radius is 2 is `33.5103`.

In [ ]:
...

---

Here is a small table with marble data.

In [ ]:
marbles = Table().with_columns('Color', np.random.choice(['Red', 'Yellow', 'Blue'], 10),
                               'Transparency', np.random.choice(["Opaque", "Transparent"], 10),
                               'Radius', np.random.choice(np.arange(1,5), 10))
marbles.show(4)

---

**Question.** Create a new table that shows the total volume of the marbles of each color.  The columns of the new table should be 'Color' and 'Volume'.

In [ ]:
...

---

**Question.** Create a new table that shows the total volume of the marbles of each combination of color and transparency.  Opaque or Transparent.  The columns of the new table should be 'Color' and 'Opaque', 'Transparent', and there should be one row for each color.

In [ ]:
...

---

## 2. Hopkins Trees

In [ ]:
hopkins_trees = Table.read_table("data/hopkins-trees.csv")
hopkins_trees = hopkins_trees.drop("genus", "species")
hopkins_trees.sample(4)

---

**Question.** Create a table showing the number of trees of each species in whole forest, sorted from most to least.

In [ ]:
tree_counts = ...
...
tree_counts

---

**Question.** Show the top ten tree species in a bar chart.

In [ ]:
...

---

**Question.** Create a table with counts for each type of maple for each plot.  You should have a column for each species of Maple tree, and a row for each plot.

In [ ]:
maples = ...

---

**Question.**  Make a histogram of the counts of red maples in each plot.  Set bins to be `np.arange(0,100,5)` when creating the histogram.

In [ ]:
red_maples = ...

---

Questions about the plot you've created: 
* What are the units here?
* How many plots have fewer than 10 red maples?

---

**Question.**  Write a function that will produce a histogram of the counts of any given species in each plot.

In [ ]:
def plot_counts(common_name):
    ...

In [ ]:
with Figure(1,3):
    plot_counts('Maple, red')
    plot_counts('Oak, red')
    plot_counts('Beech, American')

---

**Question.**  Write an interactive visualization that will show the histogram for the species selected from a popup menu.

In [ ]:
...

## 3. Sky Scrapers

Here's a new dataset featuring skyscrapers in the US.

In [ ]:
sky = Table.read_table('data/skyscrapers_v2.csv')
sky.show(5)

---

**Question.** Add an age column that indicates the age of each skyscraper in years.

In [ ]:
...

---

**Question.** Create an overlaid histogram of building age for the different materials.  What does it tell you about skyscrapers?

In [ ]:
...

---

**Question.** For each city, what’s the tallest building for each material?  Do it two ways: with group and with pivot.

In [ ]:
# using group...
...

---

In [ ]:
# using pivot...
...

---

**Question.** For each city, what’s the height difference between the tallest steel building and the tallest concrete building?

In [ ]:
...

---

**Question.** Show a map with heights of tallest in each city.

In [ ]:
# Load in some useful geo information
cities = Table().read_table('data/uscities.csv').where('population', are.above(300000))
cities = cities.select('city', 'lat', 'lng')
cities.show(5)

In [ ]:
...

(We haven't done much with maps -- you can use this as a reference for your own work, but we'd never ask you to create maps like this on, say, the midterm...)